<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Skills List</h1>
    <ul>
        <% skill.forEach(function(s){ %>
            <li>
                <a href='/skills/<%= s.id%>'>
                    <%=s.skill %>
                </a>
                -
                <%= s.learned ? 'knowledgeable' : 'ignorant' %>
                - Difficulty:
                
                <%= s.difficulty %>
            </li>
        <% }); %>
    </ul>
</body>
</html>